/*****************************************************
**               Hoja de Estilos CSS                **
**                                                  **
**    reset de estilos - linea30                    **
**    plantilla        - linea 41                   **
**    menu             - linea 84                   **
**    header           - linea 155                  **
**    main             - linea 300                  **
**    formulario       - linea 566                  **   
**    footer           - linea 650                  **
**    animaciones      - linea 673                  **
**    media queries    - linea 787                  **
**                                                  **
******************************************************/


@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@200;400;600&display=swap');
@import url('https://use.fontawesome.com/releases/v6.2.0/css/all.css');

:root {
    --font1: 'Acme', Georgia, 'Times New Roman', Times, serif;
    --font2: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color_base1: #F8F7F6;
    --color_base2: #413C42;
    --color_acento1: #CCEAE2;
    --color_acento2: #F97A5B;

}

/****************************************************
**  reset de los estilos por defecto del navegador **
****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*****************************************************
**                 plantilla del layout             **
******************************************************/
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

nav {
    grid-column: 1 / 3;
    grid-row: 1/ 2;

}

header {
    background-color: var(--color_base1);
    grid-column: 1/2;
    position: relative;
    padding: 4em 0 2em 0;
}

main {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;


}

.flex {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;


}

/******************************************************
**           menu superior  o barra de navegación    **
*******************************************************/

nav {
    z-index: 6;
    padding: 5px 0 5px 0;
    background-color: var(--color_base1);

    display: flex;
    place-items: center;
    justify-content: space-between;
    min-height: 50px;


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}

.menu li {
    min-width: fit-content;
}

#menupeq,
nav label {
    display: none;
    padding-left: 1em;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    padding-left: 2em;
}

.menu>ul>li>a {
    text-decoration: none;
    color: var(--color_base2);
    transition-duration: 0.5s;

}

.menu>ul>li>a:hover {
    background-color: var(--color_acento2);
    color: var(--color_base1);
    border-radius: 15px;
    padding: 0.3em;

}

.rsociales a {
    color: var(--color_base2);
    padding-right: 1em;
    transition: 0.4s;

}

.rsociales>a:hover {
    color: var(--color_acento2);

}

/*************************************************
**           cabecera o header                  **
**************************************************/
h1 {
    font-family: var(--font1);
    font-size: 6em;
    padding-top: 0.2em;
    color: var(--color_acento2);
    text-shadow: 4px 4px black;
    animation: text-shadow 0.6s both;
}

h1+p {
    font-size: 1.5em;
    padding-bottom: 2em;
}

p,
h2,
h3,
h4,
h5,
a,
form,
ul {
    font-family: var(--font2);
    text-align: justify;
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 4em;
    line-height: 0.9em;
    animation: entrada20n 0.5s ease-out both;

}

main h3 {
    font-size: 1.8em;
    text-align: center;
    color: var(--color_acento2);
    padding-top: 1.2em;

}

.header_izda {
    grid-column: 1/2;
    align-self: center;
    align-content: center;
    padding-left: 1.2em;

}

.imagen.portada {
    position: relative;
    z-index: 1;
    animation: entradaPortada 0.8s ease-out both;
}

.header-clipart1 {
    position: absolute;
    right: 160px;
    bottom: -60px;
    z-index: 2;
    animation: estrellas 1.6s linear infinite both;
}

.clip2 {
    position: absolute;
    top: 120px;
    right: 42em;
    z-index: 7;
    animation: estrellas 2s linear infinite both;
}

.clip3 {
    position: absolute;
    top: 120px;
    right: 40em;
    z-index: 5;
    animation: estrellas 1.6s linear infinite both;
}

.clip4 {
    position: absolute;
    top: 90px;
    right: 43em;
    z-index: 5;
    animation: estrellas 1.2s linear infinite both;
}

.clip5 img {
    width: 100px;
}

.clip5 {
    position: absolute;
    top: 430px;
    right: 610px;
    z-index: 5;
    animation: estrellas 2s linear infinite both;
}

.imagen>img {
    z-index: 2;
    position: relative;
    animation: entradaDcha 1.2s both;

}

#boton_a {
    background-color: var(--color_acento2);
    font-family: var(--font2);
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    border: none;
    box-shadow: 2px 2px #413C42;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    animation: animaBoton 0.8s ease-in-out both;

}

#boton_a:hover {
    background-color: var(--color_acento1);
    color: var(--color_base2);
    cursor: pointer;
    transition-duration: 0.4s;
}
#boton_a:active {
    box-shadow: 1px 1px #e5e5e5;
    transform: translateY(4px);
}

.portada {
    grid-column: 2/3;

}


/*************************************************
**          contenido principal (main)          **
**************************************************/
h4 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

h5 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1em;

}

section p {
    margin: auto;
    width: 80%;

}

span {
    font-weight: bold;
}

.par {
    background-color: var(--color_base1);
}

[class*="--top"] {
    grid-row: 1/2;
}

[class*="--bottom"] {
    grid-row: 2/3;
}


.framed img {
    border: 16px solid #ffffff;
    max-width: 80%;
    margin: 0 auto;
    animation: entradaPortada 0.8s ease-out both;
    animation-delay: 1s;

}

.section_dos--dcha .framed img {
    width: 340px;
    margin: 1em 0.5em;
}

[class^="box"] {
    width: 380px;
    margin: 2em 1em 2.4em 1em;
    padding: 1em 0 1em 0;
    border: 2px solid var(--color_acento1);
    border-radius: 12px;
}

.box_a {
    height: max-content;

}

.box_b {
    width: 350px;
    align-content: flex-start;
    align-items: center;
    row-gap: 2em;

}

.box_c {

    position: relative;
}

.section_uno {
    margin: 2em 0 2em 0;
    padding-bottom: 6em;
    position: relative;
}

.clipart_a {
    position: fixed;
    bottom: 100px;
    right: 0;
    transition-duration: 0.9s;
}

.star {
    bottom: 250px;
    animation: estrellas 2s linear infinite both;

}

.clipart_b {
    position: absolute;
    width: 20%;
    right: -50px;
    bottom: 0;
    transition-duration: 0.9s;
}

.clipart_c {
    margin-bottom: 2em;
    animation: avion 0.7s ease-out both;
}

.section_dos p {
    padding: 2em 0 1em 0;
}

.section_tres--top p {
    margin-top: 2em;
    text-align: center;
    width: auto;
}

.section_tres--bottom .box {
    width: 200px;
}

.section_tres--dcha p {
    width: 60%;
    padding-bottom: 2em;
}

.section_dos--izda {
    position: relative;
}

.lista-star {
    margin: 0 auto;
    width: 70%;
    line-height: 1.9em;
    flex-direction: column;
    list-style: circle inside url("../img/estrella.svg");


}

.box_c {
    margin-top: 100px;
}

[class^="box_c"]::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: var(--color_acento1);
    display: block;
    border-radius: 500px;
    position: absolute;
    top: -80px;
    left: 40%;
    position: relative;
}

.box_c::after {
    font-family: var(--font1);
    font-size: 4em;
    color: #ffffff;
    position: absolute;
    top: -50px;
    left: 49%;
}

.box_c.num1::after {
    content: "1";

}

.box_c.num2::after {
    content: "2";

}

.box_c.num3::after {
    content: "3";

}

.box_c.num4::after {
    content: "4";

}

.fuente {

    text-align: center;
}

section_dos--bottom-gal {
    background-color: var(--color_base1);
}

.galeria {
    width: 80%;
    padding: 2em 0 2em 0;
}

.galeria_peq {
    width: 250px;
    height: 250px;
    margin-top: 3em;
}

.section_uno--bottom-gal {
    align-items: center;
}

.gal_text {
    width: 420px;
    line-height: 2em;
}

.section_uno--bottom-a-text p {
    width: 60%;
    margin-top: 2em;
    padding-bottom: 1.8em;
}

.logo img {
    width: 250px;
    animation: animaBoton 0.8s ease-in-out both;

}

.section_uno--bottom-aseaf {
    margin-top: 2em;
}

.section_dos-aseaf {
    padding-bottom: 6em;
}

.lista-aseaf {
    flex-direction: column;
    line-height: 2.4em;
}

.section_uno--bottom-c-aseaf img {
    margin-top: 2em;
    width: 480px;
}

.box_d {
    text-align: center;
    padding: 2.1em;
    background-color: #ffffff;
    border: none;
    box-shadow: 2px 2px 5px #F1F1F1;
    position: relative;
}

.box_d::before {
    content: url(../img/estrella2.svg);
    position: absolute;
    top: -18px;
    left: 0;
    animation: estrellas 1.2s linear infinite both;
}

/*************************************************
**           Estilos formulario                 **
**************************************************/
.section_uno--bottom-form {
    gap: 4em;
    margin: 2em 0 2em 0;
}

fieldset {
    border-radius: 10px;
    padding: 20px;
    border: solid 1px var(--color_acento2);
    text-align: center;
}

label {

    text-align: left;
}

legend {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--color_acento2);
}

.campos {

    width: 90%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 20px;

}

input#button {
    margin-top: 1.2em;
    border-radius: 20px;
    font-family: var(--font1);
    font-size: 1.5em;
    background-color: var(--color_acento1);
    border: none;
    box-shadow: 2px 2px #413C42;
    width: 150px;
    height: 40px;
    animation: animaBoton 0.8s ease-in-out both;
    animation-delay: 3s;

}

#button:hover {
    background-color: var(--color_acento2);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;

}

#button:active {
    box-shadow: 1px 1px #e5e5e5;
    transform: translateY(4px);
    animation: botonmove 0.9s both;
}

input:invalid {
    color: red;
}

.clipart_form {
    align-self: center;
    position: relative;
    animation: estrellas 1.6s linear infinite both;
}

.clip-form img {
    position: absolute;
    top: 700px;
    right: 150px;
    animation: avion 0.7s ease-out both;

}

/**********************************************************
**            pie de pagina (footer)                     **
***********************************************************/

footer {
    grid-column: 1/2;
    grid-row: 4/5;
    color: var(--color_base1);
    padding: 1em;
    background-color: var(--color_base2);
    align-items: center;
    min-height: 100px;
}

footer h4 {
    color: var(--color_acento2);
    font-size: 1.2em;
}

footer a {
    color: var(--color_acento1);
}

/*********************************************************
**                    Animaciones                       **
**********************************************************/
@keyframes estrellas {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes entradaPortada {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entrada20n {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
        transform: translateX(0) translateY(0);
    }

    100% {
        text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000;
        transform: translateX(-8px) translateY(-8px);
    }
}

@keyframes animaBoton {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

@keyframes avion {
    0% {
        transform: translateX(-800px) rotateY(30deg) scale(0);
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}



/*********************************************************
**       media queries para adptar diseño               **
**********************************************************/

@media screen and (max-width:1060px) {
    .menu {
        opacity: 0;
    }

    .lista {
        flex-direction: column;
        align-items: center;

    }

    nav {
        max-height: 50px;
    }

    nav label {
        font-size: 1.5em;
        margin-top: 10px;
        display: inline-flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
        cursor: pointer;
    }

    #menupeq:checked~.menu {
        background-color: var(--color_base1);
        border-radius: 15px;
        position: absolute;
        top: 40px;
        left: -10px;
        opacity: 80%;
        padding: 0.5em;
        transition: 0.5s;
    }

    #menupeq:checked~.menu ul {
        flex-direction: column;

    }

    #menupeq:checked~.menu li {
        padding-bottom: 0.5em;

    }

    .rsociales {
        position: absolute;
        top: 0;
        right: 0;
    }


}

@media screen and (min-width: 770px) and (max-width:1060px) {
    .header_izda {
        font-size: 75%;
    }

    .portada img {
        max-width: 80%;
        min-width: 70%;
    }

    .clipart_a,
    .clipart_b,
    .header-clipart1,
    .clip5,
    .clip-form {
        opacity: 10%;
    }


}


@media screen and (max-width: 769px) {

    img {
        max-width: 95vw;
    }

    .portada img {
        max-width: 70%;
        margin: 4% 0 0 15%;
    }

    .header_izda {
        margin-top: 6em;
        font-size: 65%;
    }

    #boton_a {
        font-size: initial;
    }

    .header_izda,
    h2,
    .header_izda p {
        text-align: center;

    }

    [class^="section"] p {
        width: 90%;
    }

    .clipart_a,
    .clipart_b,
    .header-clipart1,
    .clip5,
    .clip-form {
        opacity: 0;
    }

    footer {
        max-height: fit-content;

    }


}

/************************************************************************
*****     media query para adaptar el diseño a IExplorer 11         *****
*************************************************************************/
@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    * {
        font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    header,
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    h1 {
        font-family: 'Acme', Georgia, 'Times New Roman', Times, serif;
        color: #F97A5B;
    }

    .clipart_b {
        display: none;
    }

    h3,
    h5 {
        color: #F97A5B;
    }

    #boton_a {
        background-color: #F97A5B;
    }

    [class^="box"] {
        border: 2px solid #CCEAE2;
        border-radius: 15px;
    }

    [class^="box_c"]::after {
        color: #CCEAE2;
    }

    footer,
    footer a {
        color: #F8F7F6;
        background-color: #413C42;

    }

    a {
        color: #413C42;
    }

    a:hover {
        background-color: #F97A5B;
    }

}